
@{
    ViewData["Title"] = "Home";
}

<form action="@Url.Action("Index", "Game")" method="post">
    <div class="row">
        <input class="col-4" type="text" placeholder="Insert nickname" name="userName" required />
        <input class="ml-2 col-1 btn btn-primary" type="submit" value="Play" />
        <div class="col-6"></div>
    </div>
</form>

