@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form id="questionForm">
    <input type="text" placeholder="Insert question prompt" name="question" />
    <input type="text" placeholder="Correct Answer" name="correctAnswers[0]" />
    <input type="text" placeholder="Wrong Answer" name="wrongAnswers[0]" />
    <input type="text" placeholder="Wrong Answer" name="wrongAnswers[1]" />
    <input type="text" placeholder="Wrong Answer" name="wrongAnswers[2]" />
    <input type="submit" value="Submit" />
</form>

@section Scripts {
    <script>
        $("#questionForm").submit(function (e) {
            
            e.preventDefault()
            var form = $('#questionForm');
            var dataObj = {};
            console.log(form.serialize());

            $.ajax({
                type: 'POST',
                url: '/questions/create',
                data: '"id": "5fff42d70cfbb5c861705a62", "question": "A", "correctAnswers": ["B"], "wrongAnswers": ["C", "4", "100", "312", "pi", "e"]',
                success: test,
                error: function () {
                    alert("Failed to submit question");
                }
            });
        });

        function test(data) {
            alert(data);
        }
    </script>
}