@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <div id="gameboard">
        <div>Question?</div>
        @*<form action="@Url.Action("SubmitAnswer")" method="post">*@
        <button onclick="submitAnswer(0)">A</button>
        <button onclick="submitAnswer(1)">B</button>
        <button onclick="submitAnswer(2)">C</button>
        <button onclick="submitAnswer(3)">D</button>
        @*</form>*@
    </div>
    <div id="chatbox">
        <div id="chatboxMessages"></div>
        <input type="text" id="chatboxInput" placeholder="Send a chat message" />
    </div>
</div>

@section Scripts {
    <script>
        var username = '@Model';

        var protocol = location.protocol === "https:" ? "wss:" : "ws:";
        var wsUri = protocol + "//" + window.location.host + "/gamehub";

        var connection = new signalR.HubConnectionBuilder().withUrl("/gamehub").build();

        connection.start().then(function () {
            console.log("Connection started.");
            connection.invoke("InitUser", username);
        });

        connection.on("ReceiveChatMessage", function (user, message) {
            console.log("Received message: " + message + " from " + user);

            var msg = message.replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;");
            var encodedMsg = user + ": " + msg;
            var msgDiv = document.createElement("div");
            msgDiv.innerHTML = encodedMsg;
            document.getElementById("chatboxMessages").appendChild(msgDiv);
        });

        connection.on("ReceivePlayerScore", function (user, score) {
            console.log("Received " + user + "'s score: " + score);
        });

        connection.on("ReceiveNewPlayer", function (user) {
            console.log("Received new player: " + user);
        });

        connection.on("ReceiveQuestion", function (question) {
            console.log("Received question: ");
            console.log(question);
        })

        $('#chatboxInput').keypress(function (e) {
            if (e.which != 13)
                return;

            e.preventDefault();

            var message = $('#chatboxInput').val();
            connection.invoke("SendChatMessage", username, message).catch(function (err) {
                return console.error(err.toString());
            });

            console.log("Sent message: " + message);

            $('#chatboxInput').val('');
        });

        function submitAnswer(answerId) {
            connection.invoke("SendQuestionAnswer", answerId).catch(function (err) {
                return console.error(err.toString());
            });

            console.log("Submitted answer " + answerId);
        }
    </script>
}