@{
    ViewData["Title"] = "Home";
}

<div class="row gameContainer">
    <div class="col-3 h-100" id="scoreboard"></div>
    <div class="col-6 text-center h-100 overflow-auto text-break" id="gameboard">
        <div class="progress">
            <div class="progress-bar active" role="progressbar" style="width: 100%" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div id="question">Question?</div>
        <button id="answer0" class="col btn btn-outline-primary" onclick="submitAnswer(0)">A</button>
        <button id="answer1" class="col btn btn-outline-primary" onclick="submitAnswer(1)">B</button>
        <button id="answer2" class="col btn btn-outline-primary" onclick="submitAnswer(2)">C</button>
        <button id="answer3" class="col btn btn-outline-primary" onclick="submitAnswer(3)">D</button>
        <div id="scoreUpdates"></div>
    </div>
    <div class="col-3 h-100" id="chatbox">
        <div class="overflow-auto" id="chatboxMessages"></div>
        <input class="" type="text" id="chatboxInput" placeholder="Send a chat message" />
    </div>
</div>


@section Scripts {
    <script>
        var username = '@Model';
    </script>
    <script src="~/js/game.js" asp-append-version="true"></script>
}